body{
    width: 100%;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-size:20px;
}
.head{
    margin-top:35px;
    text-align:center;
    margin-bottom:30px;
}
.artist{
    font-size: 50px;
    font-weight: 600;
    color:#f75b00;
}
.birthdate{
    font-size:20px;
}
.container{
    margin:0 8px 45px 8px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img1{
    width:400px;
    height:360px;
    margin-right:35px;
}
.img1 img{
    width:400px;
    height:360px;
    object-fit: contain;
}
.img2{
    width:300px;
    height:300px;
    margin-left:35px;
}
.img2 img{
    width:300px;
    height:300px;
    object-fit: contain;
}
.matter1{
    width:570px;
    margin-left:35px;
}
.matter2{
    width:700px;
    margin-right:35px;
}
.subhead{
    font-size: 30px;
    color:#ff822d;
}
hr{
    margin-top:25px;
    width:15%;
}
.madeby{
    text-align: center;
    color:#e0dbd8;
    font-size: 15px;
}
@media screen and (max-width: 1024px){
    .matter1{
        width:80%;
        margin-left:20px;
        margin-right:35px;
    }
    .matter2{
        width:700px;
        margin-right:25px;
        margin-left:30px;
    }
}
@media screen and (max-width: 870px){
    .img1,.img2,.matter1,.matter2{
        margin-left:0;
        margin-right:0;
    }
    .container{
        flex-direction: column;
    }
    .matter1,.matter2{
        width:90%;
    }
    .image2{
        order: 0;
    }
    .matter2{
        order: 1;
    }
    .head{
        text-align: center;
    }
}
